body {
  font-family: "Times New Roman", sans-serif;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  50% {
    background-color: #FF4136;
  }
  100% {
    background-color:#001F3F;
  }
}
.element {
  animation: pulse 5s infinite;
}


table, form {
  margin: auto;
  width: 75% !important;
  background-color: #E9F0EF;
}

input {
  margin: auto;
  width: 100% !important;
}

button#get-all-movies, button#search-movies {
  margin: auto;
  width: 50% !important;
}

button#addMovie {
  margin: auto;
  width: 50% !important;
}

#container-div {
  min-height: 80vh;
  padding: 30px;
  height: auto;
  border-color: #FF6347;
  border-radius: 25px;
  background-color: #DECBCB;
  margin: auto;
}

.jumbotron {
  height: 30vh;
}

header {
  height: 30vh;
}

img {
  height: auto;
  border-radius: 50px;
  margin: 0px;
}
