body {
	background-color: #15F9E2;

}




table, form {
	margin: auto;
	width: 50% !important;
}

input {
	margin: auto;
	width: 100% !important;
}

button#get-all-movies {
	margin: auto;
	width: 50% !important;
}

#container-div {
	height: 100vh;
	border-radius:
	background-color: #A6C6C2;
	margin: auto;
}
